EX.3.5/example-backend/*
!EX.3.5/example-backend/Dockerfile

EX.3.5/example-frontend/*
!EX.3.5/example-frontend/Dockerfile

EX.3.6/example-backend/*
!EX.3.6/example-backend/Dockerfile
!EX.3.6/example-backend/image-history.txt

EX.3.6/example-frontend/*
!EX.3.6/example-frontend/Dockerfile
!EX.3.6/example-frontend/image-history.txt